<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    {% load static %}
    <link
      href="{% static 'clientapp/css/base.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <title>{% block title %} Zihao's Search Engine {% endblock %}</title>
  </head>

  <body>
    <div class="big-heading">Zihao's Search Engine</div>
    <br>

    <div class="user-info">Load My Engine</div>

    <br>
    <form method="post" action="upload" enctype="multipart/form-data">
      {%csrf_token%}
      <div class="col text-center">
        <label for="files">Select files:</label>
        <input type="file" class="id_profile_file" name="file" multiple>
      </div>
      <br>
      <br>
      <div class="col text-center">
        <button type="submit" class="btn btn-warning">
            Construct inverted indicies
        </button>
      </div>
    </form>
  </body>
</html>
