<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    {% load static %}
    <link
      href="{% static 'clientapp/css/base.css' %}"
      rel="stylesheet"
      type="text/css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z"
      crossorigin="anonymous"
    />
    <title>{% block title %} Search Term {% endblock %}</title>
  </head>

  <body>
    <div class="big-heading">Zihao's Search Engine</div>
    <br>
    <div class="user-info">Enter Your Search Term</div>
    <br>
    <form method="post" action="searchTerm" class="col text-center" enctype="multipart/form-data"> 
        {%csrf_token%}
        <label for="search">Type your search here:</label>
        <input type="text" id="term" name="term">
        <br><br>
        <input type="submit" class="btn btn-warning" value="search">
    </form>
    <br>
  </body>
</html>
